<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Light</title>
    <link rel="icon" type="image/svg" href="./images/icons/favicon.svg">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="save.js" defer></script>
    <meta name = "viewport" content = "width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
  </head>
  <body>
    <div id="machine" ></div>
  <div id="app">
    <level v-if="tmp.page===1"></level>
    <selectmenu v-if="tmp.page===2"></selectmenu>
    <options v-if="tmp.page===3"></options>
    <editor v-if="tmp.page===4"></editor>
    <tutorials_tab v-if="tmp.page===5"></tutorials_tab>
    <main_tutorial v-if="tmp.modalvisible"></main-tutorial>
  </div>
  <div style="position: absolute; width: 0px;height: 0px;overflow: hidden;">
    <img src="./images/icons/add-row-icon.svg">
    <img src="./images/icons/rm-row-icon.svg">
    <img src="./images/player/legs.svg">
    <img src="./images/player/legless.svg">
<!--<img src="./images/90ccw.svg">
    <img src="./images/90cw.svg">
    <img src="./images/180.svg">
    <img src="./images/bomb-base.svg">
    <img src="./images/bomb-core.svg">
    <img src="./images/crack.svg">
    <img src="./images/cross.svg">
    <img src="./images/delete.svg">
    <img src="./images/mirror.svg">-->
    <img src="./images/pointy_arrow.svg">
    <img src="./images/portal.svg">
    <img src="./images/reflect.svg">
<!--<img src="./images/source.svg">
    <img src="./images/store-core.svg">
    <img src="./images/store.svg">
    <img src="./images/sun.svg">
    <img src="./images/wall.svg"> 
    <img src="./images/moving_block.svg">-->
    <img src="./images/tutorials/1-1.png">
    <img src="./images/tutorials/1-2.png">
    <img src="./images/tutorials/2-1.png">
    <img src="./images/tutorials/2-2.png">
    <img src="./images/tutorials/2-3.png">
    <img src="./images/tutorials/3-1.png">
    <img src="./images/tutorials/3-2.png">
  </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  <script src="lz-string.min.js" defer></script>
  <script src="script.js" defer></script>
  <script src="level.js" defer></script>
  <script src="editor.js" defer></script>
  <script src="tutorial.js" defer></script>
  <script src="rendering.js" defer></script>
</html> 