@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
*{ font-family: 'Ubuntu', sans-serif !important;}
:root{
  --mul: 1;
  --cell-size-70: calc(70px* var(--mul));
  --cell-div-53:  calc(53px*var(--mul));
  --cell-div-61:  calc(61px*var(--mul));
  --border-width: calc(4px*var(--mul));
  --border-radius: calc(2px*var(--mul));
}
.gamezone {
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}
.gamezone tr, .gamezone td {
  margin: 0px;
  padding: 0px;
  border: none;
  height: var(--cell-size-70);
  max-height: var(--cell-size-70);
}
.gamezone tr{
  display: flex;
}
.gamezone td {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size-70);
}
.gamezone td::before {
  width: var(--cell-size-70);
  height: var(--cell-size-70);
  content: "";
  position: absolute;
  border: calc(5px*var(--mul)) solid #aaa;
  border-radius: var(--border-width);
  z-index: -1;
}
.gamezone tr:nth-child(even)  td:nth-child(odd), 
.gamezone tr:nth-child(odd)  td:nth-child(even){
  background: #444;
}
.gamezone tr:nth-child(even)  td:nth-child(even), 
.gamezone tr:nth-child(odd)  td:nth-child(odd){
  background: #555;
}
svg {
  position: absolute;
  width: var(--cell-size-70);
  height: var(--cell-size-70);
  overflow:visible;
}
body {
    touch-action: manipulation;
    background-color: #222222;
    color: #dfdfdf;
    margin-bottom: 0px;
}
table  {
    border-spacing: 0;
    padding: 0px;
    margin: 0px auto;
 }
.portalButton {
  font-size:15px;
  font-family:Arial;
  width:160px;
  height:40px;
  border:none;
  font-weight:bold;
  border-radius: 6px;
}
.canportal {
  color:#dfdfdf;
  background:#444444;
  cursor: pointer;
}
.cantportal {
  color:#333333;
  background:#aa5555;
}
.canportal:hover {
  background:#565954;
}
/*.trans3*/
.right-up, .left {
  transform: rotate(90deg);
}
/*.trans2*/
.right-down, .up {
  transform: rotate(180deg);
}
/*.trans1*/
.left-down, .right {
  transform: rotate(270deg);
}
.control td{
  width:60px;
  height:60px;
  border: 2px solid #aaaaaa;

  text-align: center;
  user-select: none;
  touch-action: manipulation;
  display:inline-flex;
  align-items: center;
  justify-content: center;
}
.opts{
  cursor: pointer;
  box-sizing: border-box;
  border-color:#aaaaaa;
  background: #333;
  text-align:center;
  user-select: none;
  border: 2px solid #aaaaaa;
  height: 90px;
  width: 90px;
}
@media (pointer:none), (pointer:coarse){
  .control td{
    width: 22vw;
    height: 20vw;
    font-size: 70px;
    border: solid 5px #aaaaaa;
  }
}
/*main menu*/
#mainmenu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-items: center;
}
.menuCard {
  display: inline-block;
  margin: 2px;
  background-color: #333333;
}
.menuCard td {
  box-sizing: border-box;
  height: 55px;
  width: 55px;
  min-width: 25%;
  text-align: center;
  border: 2px solid #aaa;
  font-weight: 900;
  transition-duration: .35s;
}
.menuLocked,.optsCard,.menuCard{
  width:220px;
  height: 220px;
  max-width: 45vw;
  max-height: 220px;
}
.optsCard tr{
  height: 50%;
  min-height: 50%;
  width: 220px;
}
.optsCard td{
  cursor: pointer;
  width: 50%;
  max-width: 50%;
}
.menuLevels{
  user-select: none;
}
.menuLevels td:hover {
  cursor: pointer;
  filter: brightness(120%);
  background-size:  100% 100%;
  transform:scale(1.06);
  transform-origin:center;
  transition-duration: .35s;
}
.menuCardTitle {
  margin: 0px !important;
  padding: 0px !important;
}
.unbeaten {
  background: #333333;
}
.beaten {
  background:#449944;
}
.perfect {
  background:#CCA43D;
}
.wideopts td{
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid #aaa;
  width: 220px;
  height: 55px;
  display: inline-block;
  margin: 2px;
}
.wideopts td span{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
/*gaming*/
.redCounter{
  float: right;
  color: #aa5555
}
.greenCounter{
  float: right;
  color: #449944;
}/*
.blue div, .blueLaser {
  filter: invert(44%) sepia(97%) saturate(2911%) hue-rotate(171deg) brightness(98%) contrast(93%);
}*/
.red div, .redLaser {
  filter: invert(17%) sepia(90%) saturate(3310%);
}
.green div, .greenLaser{
  filter: invert(100%) sepia(22%) saturate(6000%) hue-rotate(20deg)
}
.yellow div, .yellowLaser{
  
  filter: invert(86%) sepia(50%) saturate(6000%) 
}
/*.lightBlue, .lightBlueLaser{
  filter: invert(63%) sepia(50%) saturate(4082%) hue-rotate(138deg) brightness(104%) contrast(87%);
}
.purple, .purpleLaser{
  filter: invert(20%) sepia(70%) saturate(3864%) hue-rotate(290deg) brightness(102%) contrast(93%);
}*/
.null div{
  filter: invert(75%)
}/*
.blueLaser{
  z-index: 10;
}*/
.deg90 div{
  transform: rotate(90deg);}
.deg180 div{
  transform: rotate(180deg);}
.deg270 div{
  transform: rotate(270deg);}
  /*blue box*/
.rotate180, .rotate90, .rotate270, .light, .sun, .reflecthor, .reflectvel {
  background: #47AFE3;
  border: var(--border-width) solid #000;
  border-radius: var(--border-width);
}
/*grey box*/
.moving {
  background: #768492;
  border: var(--border-width) solid #000;
  border-radius: var(--border-width);
}
  /*green box*/
.box,
.badbox,
.badboxwall,
.boxwall,
.badbox,
.greenpass {
  background-color: #b4eb46;
  border: var(--border-width) solid #000;
  border-radius: var(--border-width);
}
  /*red box*/
.redpass {
  background-color: #CC2218;
  border: var(--border-width) solid #000;
  border-radius: var(--border-width);
}
  /*yellow box*/
.yellowpass {
  background-color: #FFC500;
  border: var(--border-width) solid #000;
  border-radius: var(--border-width);
}
.bluepass {
  background-color: #0999D5;
  border: var(--border-width) solid #000;
  border-radius: var(--border-width);
}
td div {
  width: var(--cell-div-53);
  height: var(--cell-div-53);
}
.gamezone td div:nth-child(n+2){
  position: absolute;
}
#laserCanvas{
  position: absolute;
  z-index: 12;
  pointer-events: none;
  image-rendering:pixelated;
  transform: scale(var(--mul));
  transform-origin: top left;
}
.light, .sun, .rotate90, .rotate180, .rotate270, .mirror, .box, .boxwall, .bomb, .moving{
  z-index: 20 !important;
}
.rotate90 div{
  background-image: url('./images/90cw.svg');
}
.rotate270 div{
  background-image: url('./images/90ccw.svg');
}
.rotate180 div{
  background-image: url('./images/180.svg');
}
.sun div {
  background-image: url('./images/sun.svg');
}
.light div {
  background-image: url('./images/source.svg');
}
.moving div {
  background-image: url('./images/moving_block.svg');
}
.bomb {
  width: var(--cell-div-61);
  height: var(--cell-div-61);
  background-position: center;
  background-image: url('./images/bomb-base.svg');
}
.bomb div {
  width: var(--cell-div-61);
  height: var(--cell-div-61);
  background-position: center;
  background-image: url('./images/bomb-core.svg');
}
.mirror{
  width: var(--cell-div-61);
  height: var(--cell-div-61);
  background-repeat:no-repeat;
  background-image: url('./images/mirror.svg');
}
.reflecthor{
  z-index: 20;
  background-image: url('./images/reflect.svg');
}
.reflectvel{
  z-index: 20;
  transform: rotate(90deg);
  background-image: url('./images/reflect.svg');
}
.greenpass , .yellowpass , .redpass , .bluepass {
  z-index: 11 !important;
  background-image: url('./images/cross.svg');
}
td.horpass {
  max-height: calc(10px*var(--mul));
  margin-top: calc(30px*var(--mul));
  margin-bottom: calc(30px*var(--mul));
}
td.horpass::before {
  height: calc(10px*var(--mul));
}
td.verpass {
  max-width: calc(10px*var(--mul));
  margin-left: calc(30px*var(--mul));
  margin-right: calc(30px*var(--mul));
}
td.verpass::before{
  width: calc(10px*var(--mul));
}
td.void{
  opacity: 0;
}
.boxwall div, .badboxwall {
  z-index: 20;
  background-image: url('./images/wall.svg');
}
.badbox div, .badboxwall div {
  z-index: 20 !important;
  background-size: cover;
  background-image: url('./images/crack.svg');
}
.store div {
  z-index: 20 !important;
  width: 100%;
  height: 100%;
  background: url('./images/store-core.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}
.store {
  z-index: 19 !important;
  width: var(--cell-div-61);
  height: var(--cell-div-61);
  background-repeat:no-repeat;
  background: url('images/store.svg') ;
}
.portal div {
  z-index: 1 !important;
  animation: rotation 10s infinite linear;
  background: url('images/portal.svg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(55px*var(--mul));
  filter:  invert(17%) sepia(90%) saturate(3310%) hue-rotate(353deg) brightness(89%) contrast(94%) drop-shadow(0px 0px 4px #000000);
}
.badportal div {
  z-index: 1;
  animation: rotation 10s infinite linear;
  background: url('images/portal.svg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(55px*var(--mul));
  filter:invert(70%) drop-shadow(0px 0px 4px #000000) ;
}

#machine{
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
.player{
  pointer-events: none;
  background: url('images/player/legless.svg') ;
  background-size: calc(68px*var(--mul));
  background-repeat: no-repeat;
  background-position: 50% 20%;
  z-index: 21;
  position: absolute;
  width: var(--cell-div-53);
  height: var(--cell-div-53);
  
}

.player::after{
  animation: player_legs 0.8s infinite linear;
  content: "";
  position: absolute;
  margin-left: calc(-7.5px*var(--mul));
  width: var(--cell-size-70);
  height: var(--cell-size-70);
  background: url('images/player/legs.svg') ;
  background-size: calc(60px*var(--mul));
  background-position: center;
  background-repeat: no-repeat;
  z-index: 21;
}
@keyframes player_legs {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 4%;
  }
  100% {
    margin-top: 0px;
  } 
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/*editor*/
.editor {
  user-select: none;
  border-spacing: 5px;
}
.editor button {
  color:#ffffff;
  background: #444;
  cursor: pointer;
  height: 40px;
  width: 100%;
  border: 2px solid #f79595;
  border-radius: 5px;
  margin: 2px 0px 0px 0px;
}
#editorControls button{
  min-width: 80px;
}
.editor .player::after{
  animation: none;
  margin-top: 5px;
  margin-left: 0px;
}
#radd {
  font-size: 25px;
}
#rmrow,#addrow{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  background-size: cover;
}
#rmrow{
  background:url('./images/icons/rm-row-icon.svg');
}
#addrow{
  background:url('./images/icons/add-row-icon.svg');
}

#selectors tr td.selected::before {
  background-color: #cfb541;
  position: absolute;
  content: " ";
  height: 67px;
  width: 67px;
  margin-left: -3px;
  margin-top: -3px;
  z-index: -1 ;
  border-radius: 5px;
}
#selectors td{
  display:inline-flex;
  flex-wrap: wrap;
  width: max-content;
  height: max-content;
  min-width: 61px;
  min-height: 61px;
  padding: 0px;
  margin: 2px;
}
#selectors td div {
  margin: auto;
}
#selectors .clear {
    width: 61px;
    height: 61px;
    background: url('./images/delete.svg');
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: center;
}
#selectors .tiePortals {
    width: 61px;
    height: 61px;
    background: url('./images/pointy_arrow.svg');
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
}
#selectors .tiePortals div{
  background: url('images/portal.svg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  filter:  invert(17%) sepia(90%) saturate(3310%) hue-rotate(353deg) brightness(89%) contrast(94%) drop-shadow(0px 0px 4px #000000);
}
#selectors .player {
  position: relative;
}
#selectors .player::after {
  animation: none !important;
  margin-top: -50px;
}
#selectors .void {
  width: 45px;
  height: 45px;
  background: #222;
  border: 4px solid #aaa;
}
#selectors .horpass {
  width: 45px;
  height: 10px !important;
  min-height: 10px;
  background: #222;
  border: 4px solid #aaa;
}
#selectors .verpass {
  width: 10px !important;
  min-width: 10px;
  height: 45px;
  background: #222;
  border: 4px solid #aaa;
}

/*modals*/
.modal{
  z-index: 150;
  background: #161616;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: calc(50vw - 300px);
  border: 4px solid #aaa;
  border-radius: 10px;
  width:600px;
  height:410px;
  margin-top: 50px;
  padding: 10px;
  filter: drop-shadow(0 0 10px #00000080);
}
.modalbg{
  z-index: 149;
  position: absolute;
  background-color: #303030a4;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.modal h1 {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.modaltitle{
  height: 30px;
  width: 500px;
  text-align: center;
}
.modal tr:nth-child(2) td{
  text-align: center;
  margin: 5px;
}
.modalimg{
  height: 260px;
  margin-bottom: 5px;
  border: 3px solid #aaa;
  border-radius: 10px;
}
.modaltxt{
  text-align: center;
}
.modalbtn{
  width: 65px;
  height: 60px;
  min-height: 60px;
  max-height: 60px !important;
}
.modalbtn button{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #444444;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 8px;
  text-align: center;
}
.modalbtn button span{
  font-size: 50px;
  color: #dfdfdf;
  margin-left: auto;
  margin-right: auto;
}
/*tutorial tab*/
#tutortab{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#tutortab button{
  display: block;
  height: 65px;
  width: 400px;
  color: #dfdfdf;
  background-color: #444444;
  border: 2px solid rgb(99, 99, 99);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  cursor: pointer;

}